<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "http://localhost:5000/login" method = "post">
        <h2>登入</h2>
        <label for="email">電子郵件：</label><br>
        <p><input type = "text" name = "email"/></p>
        <label for="password">密碼：</label><br>
        <p><input type = "password" name = "password" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
</body>
</html>